.screen_password {
    height: 400px;
    width: 410px;
    box-shadow: 2px 2px 14px #010B0E;
    display: flex;
    flex-direction: column;
}

.options {
    display: block;
    text-align: center;
}

.input {
    width: 300px;
}

.input:hover {
    width: 310px;
}

.option_link:hover {
    background-color: #7F0A71;
}